.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

_gh_pages/*

/dist/strapit-v2.0.1-dist.zip
/docs/dist/strapit-v2.0.1-dist.zip