//
// Image or Page CSS Based Preloader
// Custom file created by Travis Curl for DFM
// --------------------------------------------------
// To use the Preloader, temporarily swap your image or page DIV with the following:
// <div class="preloader">LOADING</div>

@preloader-color: #ccc;
@preloader-size: 120px;


// to do on this:
// 1) Add 'loading" not sure people will know what this is
// 2) Different animations?
// 3) Test resizing -- any way to not have hard coded stuff in there?
// 4) Documentation and examples of use

.preloader {
  position: relative;
  .square(@preloader-size);
  margin: 100px auto;
  color: @preloader-color;
  font-family: sans-serif;
  .font-size(@font-size-base);
  line-height: @preloader-size;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .opacity(0);
    content: '\0020';
    border-radius: 100px;
    border: 5px solid @preloader-color;
    box-shadow: 0 0 50px @preloader-color, inset 0 0 50px @preloader-color;
  }
  &::before {
    z-index: 2;
    .animation(gogoloader 2s infinite);
  }
  &:after {
    z-index: 1;
    .animation(gogoloader 2s infinite 1s);
  }
}

@-webkit-keyframes gogoloader {
  0% {
    .scale(0);
    .opacity(0);
  }
  50% {
    .opacity(1);
  }
  100% {
    .scale(1);
    .opacity(0);
  }
}