/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 70px;
}
footer {
  padding-right: 15px;
  padding-left: 15px;
}
.side-nav {
  background: transparent;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .container {
    overflow: hidden;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -75%; /* 9 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -75%; /* 9 columns */
  }

  .row-offcanvas-right.active {
    right: 75%; /* 9 columns */
  }

  .row-offcanvas-left.active {
    left: 75%; /* 9 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 75%; /* 9 columns */
  }
}
