html, body {
  height: 100%;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.sidenav {
  z-index: 1!important;
}
.sidenav.canvas-sliding,
.sidenav.canvas-slid {
  z-index: 2000;
}
.canvas {
  position: relative;
  z-index: 2;
  min-height: 100%;
  padding-top: 65px;
  background: #fff;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block;
  }
}
